.dashboard {
  display: grid;
  grid-template-columns: 50px 1fr 10px;
  grid-template-rows: 100%;
  grid-template-areas: "menu main aside";
}

.menu { grid-area: menu; background: blue; }
.main { grid-area: main; }
.aside { grid-area: aside; }