.dashboard .menu {
  grid-area: menu;
  background: coral;
}

.dashboard .main {
  grid-area: main;
  background: cornflowerblue;
}

.dashboard .aside {
  grid-area: aside;
  background: deeppink;
}

.dashboard {
  height: 100%;

  display: grid;
  grid-template-columns: 74px auto 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "menu main aside";
}