.dashboard .menu {
  grid-area: menu;
}

.dashboard .main {
  grid-area: main;
}

.dashboard .aside {
  grid-area: aside;
}

.dashboard {
  height: 100%;

  display: grid;
  grid-template-columns: 74px auto 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "menu main aside";
}