.sales-form-page .menu {
    grid-area: menu;
}

.sales-form-page .content {
    grid-area: main;
}

.sales-form-page .aside {
    grid-area: aside;
}

.sales-form-page {
    height: 100%;

    display: grid;
    grid-template-columns: 74px auto 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "menu main aside";
}