.menu {
  background: #31a7e2;
  padding: 0px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu .link-logo {
  padding: 5px;
  margin-top: 14px;
  margin-bottom: 11px;
}

.menu #link-to-dashboard {
  display: block;
  width: 100%;
}

.menu .link-logo img {
  width: 100%;
  height: 100%;
}

.menu .link-logo img:hover {
  background-color: #5cb4e0;
  border-radius: 4px;
}

.menu header {
  width: 100%;
}

.menu nav .menu-list {
  list-style: none;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu nav .menu-list .menu-item {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 20px 10px;
  text-align: center;
  transition: all .2s;
}

.menu nav .menu-list .menu-item * {
  text-decoration: none;
  color: #fff;
}

.menu nav .menu-list .menu-item:hover {
  cursor: pointer;
  background-color: #5cb4e0;
}

.menu .menu-list li.active {
  background-color: #7ecdf5;
  border-left: 4px solid #dff1fa;
}

.menu .menu-list li.active:hover {
  background-color: #7ecdf5;
}