.menu {
  background: #31a7e2;
  padding: 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu nav .menu-list {
  list-style: none;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu nav .menu-list .menu-item {
  margin-bottom: 40px;
}