@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto-Regular, sans-serif;
}

html, body, #root {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #eef3ff;
}

::-webkit-scrollbar-track {
  background-color: #dfe6f7;
}
::-webkit-scrollbar {
  width: 6px;
  background: #31a7e2;
}
::-webkit-scrollbar-thumb {
  background: #a2cfe6;
}
